@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

:root {
    --primary: #4690ff;
    --primary-hover: #3a7bd5;
    --dark-primary: #000814;
    --light-primary: #c2d2eb5a;
    --black: #00060f;
    --gray: #696969;
    --separator: #dddddd;
    --white: #eeeff1;
    --bento-bg: #fafafa;
    --red: #ff4646;
    --orange: #ff9f43;
}

::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--white);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--separator);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-primary);
}

body {
    overflow: hidden;
}

.btn {
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--primary-hover);
    }
}

.secondary {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);

    &:hover {
        background-color: var(--light-primary);
    }
}

.delete {
    background-color: var(--red);
    color: #fff;
    border: none;

    &:hover {
        background-color: #e03b3b;
    }
}

.gray-btn {
    background-color: var(--separator);
    color: var(--black);

    &:hover {
        background-color: #bfbfbf;
    }
}

.icon {
    transition: all 0.3s ease;

    &:hover {
        color: var(--gray);
    }
}

.task-description {
    font-style: italic;
}
